// override tongcheng global common.css
.mainwrapper {
  color: #333;
  font: normal normal normal 1.6rem/1.6 "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
  p,
  hr,
  ul,
  ol,
  dl,
  blockquote,
  pre,
  address,
  fieldset,
  figure {
    margin: 0 0 1.6rem 0;
  }
}
