@import url(./module.form.less);
@import url(./support.bank.less);
@import url(./agreement.less);
//测试
//@import url(./repayment_detail.less);
.act-succ-page{
	width: 1020px;
	height: auto;
	background: url('./assets/activating_main_bgimage.jpg') no-repeat; width: 1020px;
	margin-left: 170px;
	padding-top: 50px;
	.act-succ-header{
		font-size: 24px;
		text-align: center;
		color: #333333;
	}
	.act-succ-header-tips{
		font-size: 16px;
		text-align: center;
		color: #666666;
		margin: 25px auto 15px;
	}
	.act-succ-header-line{
		width: 1050px;
		height:	10px;
		background: url('./assets/activating_main_line.jpg') no-repeat; 
	}
	.act-succ-form{
		background-color: #ffffff;
		background: url('./assets/activating_bg.png') no-repeat; width: 1020px;
		padding-top: 30px;
		box-shadow: 0 0 10px #ccc;
		.succ{
			margin-left: 400px;
		    margin-top: 120px;
		    font-size: 18px;	
			background: url('./assets/activating_success.png') 0 0 no-repeat;
			width:500px;

		}
		.result{
			padding-left: 50px;
			
		}
		.money{
			  display: inline;
			  color: #ff6633;
			  width: 50px;
			  height: auto;
			}
		.succ-button{
			margin-left: 450px;
		    margin-top: 80px;
			width:500px;
			&.hover{
				color:#ff6633;
			}
			.home_button{
				background-color: #ffffff;
				border: 1px solid #eeeeee;
			}
		}
		.adv-word{
			width:1000px;
			.pay_footer-hd {
		        height: 60px;
		        border-bottom: 1px dotted #ccc;
		        text-align: left;
		        padding-top: 5px;
		        margin: 0 37px 20px 36px;
		        background: url(./assets/spread-icon2.png) 0px 13px no-repeat;
		        .foot-hd-item1 {
		          line-height: 50px;
		          padding-left: 50px;
		          font-size: 22px;
		          color: #FF6633;
		        }
		        .foot-hd-item2 {
		          background: url(./assets/programa-icon1.png) 14px 3px no-repeat;
		          text-indent: -9999px;
		          width: 300px;
		          height: 50px;
		        }
		        & > span {
		          display: inline-block;
		        }
		      }
		      .pay_footer-content {
		        margin-right: 20px;
		        margin-left: 20px;

		        .container{
		      	  box-sizing: border-box;
				  margin-left: auto;
				  margin-right: auto;
				  padding-left: 1rem;
				  padding-right: 1rem;
				  width: 100%;
		      		
							      		// 支付结果、激活结果页面 静态推广区域模板
					.spread_module {
					  position: relative;
					  cursor: pointer;
					  width: 270px;
					  float: left;
					  margin-right: 56px;
					  .thumbnail {
					    padding-bottom: 8px;
					    background-color: #F5F5F5;
					    border: none;
					  }
					  .show_left {
					    position: absolute;
					    font-size: 10px;
					    color: white;
					    top: 10px;

					    background-image: url(./assets/spread_module_icon3.png);
					    width: 122px;
					    height: 40px;
					    left: 2px;
					    line-height: 40px;
					    padding-left: 5px;
					    font-size: 15px;
					    & span {
					      font-size: 20px;
					    }
					  }
					  .show_right {
					    position: absolute;
					    color: white;
					    font-size: 10px;
					    background-image: url(./assets/spread_module_icon2.png);
					    top: 0;
					    right: 15px;
					    width: 60px;
					    height: 24px;
					    padding-left: 2px;
					  }
					  .thumbnail-caption {
					    font-size: 14px;
					    padding: 3px;
					    display: block;
					    text-align: left;
					  }
					  .thumbnail-fenqi {
					    font-size: 10px;
					    .money {
					      font-size: 18px;
					      color: #FF7800;
					    }
					  }
					  .thumbnail-operate {
					    padding-left: 3px;
					    & button {
					      height: 30px;
					      width: 90px;
					      font-size: 13px;
					      line-height: 5px;
					      background-color: #FF7800;
					      border: 1px solid #FF7800;
					      &:hover,
					      &:active {
					        background-color: #ff6633;
					        border: 1px solid #ff6633;
					      }
					    }
					  }
					}
					.float-right {
					  float: right;
					  margin-right: 0;
					}

		      	}

		      }
		}
	
	}
	
}