.act-introduction-page{
	width: 1020px;
	height: auto;
	background: url('./assets/activating_main_bgimage.jpg') no-repeat; width: 1020px;
	margin-left: 170px;
	padding-top: 50px;
	.act-introduction-header{
		font-size: 24px;
		text-align: center;
		color: #333333;
	}
	.act-introduction-header-tips{
		font-size: 16px;
		text-align: center;
		color: #666666;
		margin: 25px auto 15px;
	}
	.act-introduction-header-line{
		width: 1050px;
		height:	10px;
		background: url('./assets/activating_main_line.jpg') no-repeat; 
	}
	.act-introduction-body{
		  background-color: #ffffff;
  		  background: url('./assets/activating_bg.png') no-repeat;
  		  padding-top: 30px;
          width: 1020px;
          box-shadow: 0 0 10px #ccc;
		.intro-title{
			font-size: 20px;
			color: #333333;
			margin-left: 140px;
		}
		.intro-info{
			font-size: 16px;
			color: #666666;
  			padding: 15px 90px 30px 171px;
		}
		.intro-info-p{
			font-size: 16px;
			color: #666666;
  			padding: 15px 90px 5px 171px;
		}
		.rate_panel{
  				width:500px;
  				margin-left: auto;
  				margin-right: auto;
  				text-align: center;
  				table, th, td
				{
				  border: 1px solid #D39797;
				}
				.table{
					th,td{
					  width: 80px;
					  text-align: center;
					  font-size: 14px;
					  padding-top: 1px;
					  padding-bottom: 1px;
					}
					th{
						background-color: #E58F90;
						font-size: 16px;
						font-weight: 800;
					}
				}
  		}
		.red{
			color: #ff0000;
		}
		.bold{
			font-weight: 800;
		}
	}
	
}	