.act-introduction-page{
	width: 1020px;
	height: auto;
	background: url('./assets/activating_main_bgimage.jpg') no-repeat; width: 1020px;
	margin-left: 170px;
	
	.act-introduction-header{
		font-size: 24px;
		text-align: center;
		color: #333333;
	}
	.act-introduction-header-tips{
		font-size: 16px;
		text-align: center;
		color: #666666;
		margin: 25px auto 15px;
	}
	.act-introduction-header-line{
		width: 1050px;
		height:	10px;
		background: url('./assets/activating_main_line.jpg') no-repeat; 
	}
	.act-introduction-body{
		  background-color: #ffffff;
  		  background: url('./assets/activating_bg.png') no-repeat;
  		  padding-top: 30px;
          width: 1020px;
          box-shadow: 0 0 10px #ccc;
		.intro-title{
			font-size: 20px;
			color: #333333;
			margin-left: 140px;
		}
		.intro-info{
			font-size: 16px;
			color: #666666;
			margin: 0 160px;
		}
	}
	
}	