.layout-popup {
	@popup-width: 900px;
	width: @popup-width;
	//height: 700px;
	.popup-hd{
		border: none;
		width: @popup-width;
		height: 30px; 
	}
	.popup-agreement-bd{
		width: @popup-width;
		height: 700px;
		.bussness-content-header{
			width: @popup-width;
			height: 120px;
			padding: 40px 325px 30px;
			color: #333333;
		}
		.bussness-content{
			width: @popup-width;
			padding: 5px 70px;
			color: #666666;
			text-align: left;
		}
	}
}


