#popup_agreement{
	width: 800px;
	height:500px;
	.popup_agreement_bd{
		width: 800px;
		.agreement_header{
			width: 800px;
			color: #333333;
			font-size: 25px;
			text-align: center;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.agreement_content{
			width: 800px;
			overflow: auto;
			height: 400px;
			color: #666666;
			font-size: 16px;
			padding: 30px 50px;
			.agreement{
				margin-top: 20px;
			}
		}
	}
}