.baitiao{
	border: 1px solid #ccc;
	padding: 0;
	.container{
		
	}

	.container-title{
		height: 100px;
		line-height: 100px;
		font-size: 35px;
		color:white;
		padding-left: 20px;
		background-color: rgb(123,175,27);
	}



.header-hd {
		border-right:1px solid #ccc;
		border-bottom:1px solid #ccc;
		height:200px;
		text-align:center;
		font-size: 20px;
		padding-top: 20px;
	}
	
	
	.list>li{
		border:none;
	}
	
	
	
	.header-right{
		border-right: none;
	}
	
	.header-right-hd {
		box-size:border-box;
		height:40%;
		padding: 2rem 0;
	}
	.header-right-hd button{
		width:200px;
	}
	
	.header-right-center {
		box-size:border-box;
		height:30%;
	}
	
	.header-right-center button{
		width:200px;
	}
	
	.header-right-footer{
		font-size: 23px;
		
	}


}




