// 引入推广静态样式模板
@import url(./module.spread.bt.less);
@import url(./module.form.less);
.mainwrapper > .container {
  padding: 0;
}

.page-baitiao {
  width: 100%;
  min-width: 1190px;
  .timeline-item-head {
    background-color: transparent;
  }

}
.module-private {
    float: left;
    width: 20px;
    height: 22px;
    padding-left: 20px;
    .form-group{
      height: 100%;
      margin-bottom: 0;
    }
    .form-input{
      width:100% !important;
    }
    .checkbox-image{
      width:100% !important;
      margin-right:0 !important;
      padding-left: 12px !important;
    }
  }

.baitiao-header {
  width: 100%;
  height: 430px;
  background-image: url(./assets/mybaitiao.png);
  &-title {
    width: 100%px;
    margin: auto auto;
    height: 88px;
    font-size: 30px;
    color: #F9FFFD;
    font-weight: 800;
    background: url(./assets/mybaitiao_title.png) center 100% no-repeat;
    .header-title-content {
      width: 1190px;
      margin: auto auto;
      line-height: 88px;
    }
    &-span1 {}
    &-span2 {
      height: 20px;
      font-size: 12px;
      lint-height: 30px;
      display: inline;
      color: #BB9DA6;
      padding: 5px 15px;
      margin-left: 10px;
      border: 1px solid #BB9DA6;
      border-radius: 4px;
      vertical-align: middle;
      cursor: pointer;
    }
  }
  &-banner {
    width: 100%;
    height: 345px;
  }
  &-content {
    width: 1190px;
    height: 345px;
    margin: auto auto;
    text-align: center;
    &-ads {
      box-sizing: border-box;
      height: 100%;
      padding: 0;
      padding-top: 30px;
      .baitiao-state-money {
        display: block;
        font-size: 40px;
        height: 70px;
        margin-bottom: 10px;
        color: white;
      }
    }
    &-item1 {
      background-image: url(./assets/mybaitiao_item.png);
      height: 279px;
      padding: 0;
      padding-top: 45px;
      width: 280px;
      box-sizing: border-box;
      float: left;
      margin-left: 256px;
    }
    &-item2 {
      background-image: url(./assets/mybaitiao_item2.png);
      height: 280px;
      padding: 0;
      padding-top: 45px;
      width: 280px;
      margin-right: 260px;
      float: right;
    }
  }
}

.baitiao-body {
  width: 100%;
  clear: both;
  &-content {
    width: 1190px;
    margin: auto auto;
  }
  .body-content-left {
    float: left;
    width: 808px;
  }
  .body-content-right {
    float: right;
    width: 315px;
    text-align: center;
    padding-top: 74px;
    .content-right-top {
      & button {
        width: 314px;
        background-color: #28B175;
        border: 1px solid #28B175;
        font-size: 20px;
        font-weight: bold;
        border-radius: 3px;
        &:hover,
        &:active {
          background-color: #15A064;
          border: 1px solid #15A064;
        }
      }
    }
    .content-right-title {
      text-align: left;
      padding-top: 30px;
      border-bottom: 1px dotted #ccc;
      padding-bottom: 5px;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  .content-item {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }
  .content-item-hd {
    font-size: 25px;
    font-weight: bold;
    padding-top: 25px;
  }
  .content-item-small {
    color: #D9D9D9;
  }
  .baitiao-body-tabs-content {
    border: 1px solid #ccc;
    margin-left: 75px;
    background-color: #F5F5F5;
    padding-left: 95px;
    padding-top: 20px;
    padding-bottom: 23px;
  }
  .tabs-detail1-item1 {
    font-size: 14px;
    .tabs-item1-hd {
      margin-bottom: 5px;
      font-size: 16px;
    }
  }
  .tabs-detail1-item2 {
    margin-right: 20px;
    background-color: #FDFDFD;
    padding: 12px 20px 20px 20px;
    margin-top: 20px;
  }
  .tabs-item2-opera {
    padding: 15px 0 5px 0px;
    height: 60px;
  }
  .tabs-item2-opera-btn {
    float: left;
  }
  .tabs-item2-opera button {
    width: 130px;
    background-color: #FF7B00;
    border: 1px solid #FF7B00;
    border-radius: 2px;
  }
  .tabs-item2-opera-child {
    float: right;
    height: 60px;
    text-align: right;
    margin-right: 30px;
    & span {
      width: 60px;
      display: block;
      height: 40px;
      line-height: 70px;
      cursor: pointer;
      padding-right: 20px;
      background: url(./assets/arrow.png) 44px 33px no-repeat;
    }
    .arrow-show {
      background: url(./assets/arrow.png) 44px 33px no-repeat;
    }
    .arrow-hide {
      background: url(./assets/arrow.png) 44px -6px no-repeat;
    }
  }
  .opera-child-footer {
    text-align: right;
  }
  .child-footer-item {
    color: #FE6432;
    font-size: 20px;
    display: inline;
    margin: 2px;
  }
  .tabs {
    .baitiao-table {
      & tr {
        height: 70px;
        line-height: 50px;
        &>td {
          line-height: 50px !important;
        }
      }
    }
    .tab-paid {
      .tab-paid-btn {
        background-color: transparent;
        color: #666666;
        border: 1px solid #DDDDDD;
        width: 82px;
        height: 28px;
        font-size: 12px;
      }
    }
  }
  .tab-page {
    padding-left: 268px;
  }
}

.hide {
  display: none;
}

.tabs_money {
  color: #FE6432;
  font-weight: bold;
}

.tabs_table {
  text-align: center;
  font-size: 12px;
}

.list > li {
  border: none;
  background-color: transparent !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border: none;
  margin-bottom: -1px;
  border-bottom: 1px solid #4EB502;
}

.nav-tabs {
  padding-left: 130px;
}

.nav-tabs li {
  width: 108px;
  margin-right: 30px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #4EB502;
}

.nav>li>a {
  padding: 0.4em 0 0.4em 1.7em;
}

.tabs-bd {
  padding-top: 15px;
  border: none !important;
  .money {
    font-size: 18px;
    color: #FF7B00;
  }
}

.tabs-bd .tab-panel.active {
  padding-left: 0;
  padding-right: 0;
}

.timeline {
  padding-left: 0;
}

.timeline-item-head {
  top: 30px !important;
  width: 120px !important;
  height: 40px !important;
  background-image: url(./assets/baitiao-linetime-icon1.png);
  z-index: 1000;
  padding-top: 3px;
  padding-left: 14px;
  color: white;
  font-size: 17px;
  & span {
    font-size: 20px;
    font-weight: bold;
  }
}

//已结算
.baitiao-settled {
  background-image: url(./assets/baitiao-linetime-icon2.png);
  line-height: 32px;
  font-size: 20px;
  padding-left: 18px;
}

.timeline-item-tail {
  top: 70px !important;
  left: 26px !important;
  ;
}

.timeline-item-head.success {
  border: none !important;
}

.tail-end {
  height: 72% !important;
}

.tail-end-jq {
  height: 48% !important;
}

.pagination {
  //padding-left: 330px;
}

// 订单详情
.layout-popup-order {
  @popup-bd-width: 760px;
  @popup-bd-height: 640px;
  width: @popup-bd-width;
  height: @popup-bd-height;
  .popup-dialog {
    .close {
      text-align: right;
      width: 100%;
      display: block;
      padding-right: 10px;
    }
  }
  .popup-bd {
    width: @popup-bd-width;
    height: (@popup-bd-height)-24;
    padding: 0 55px 0 55px;
    .content-hd {
      .order-caption {
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        text-align: center;
      }
      .order-info {
        height: 40px;
        margin: auto auto;
        background-color: #F8F8F8;
        padding: 8px 0 10px 20px;
        font-size: 14px;
        .order-desc {
          float: left;
          width: 370px;
          text-align: left;
          & > span {
            font-size: 10px;
          }
          .order-no {
            font-size: 10px;
            color: #666666;
          }
        }
        .order-money {
          float: right;
          text-align: right;
          padding-right: 20px;
          line-height: 22px;
          font-size: 10px;
        }
      }
    }
    .order-pay-hd {
      text-align: left;
      margin-top: 20px;
      .caption {
        font-size: 15px;
      }
      .subhd {
        padding-left: 10px;
        font-size: 12px;
        color: #DDDDDD;
      }
    }
    .order-pay-list {
      height: 300px;
      overflow: auto;
      & table {
        font-size: 10px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
      }
      & thead {
        font-size: 10px;
        color: #999999;
      }
    }
    .order-pay-footer {
      text-align: right;
      margin-top: 20px;
      .footer-subtitle {
        font-size: 12px;
        &>span {
          padding-right: 10px;
        }
        &>span.last {
          padding-right: 0px;
        }
      }
      .pay-result {
        font-size: 15px;
        & > span {
          color: #FF6633;
          font-size: 18px;
        }
      }
    }
    .order-operate {
      margin-top: 30px;
      text-align: center;
      & button {
        width: 135px;
        height: 35px;
        line-height: 14px;
      }
    }
  }
}
