@import url(./module.spread.result.less);
.page-bindcard-result {
  width: 100%;
  .bindcard-hd {
    text-align: center;
    height: 72px;
    line-height: 72px;
    font-size: 28px;
    font-weight: bold;
    color: #373737;
  }
  .bindcard-content {
    width: 1020px;
    margin: auto auto;
    padding-bottom: 20px;
    background: url(./assets/bindcard-bg.png) 0 0 no-repeat;
    .bg-hd {
      width: 1000px;
      height: 4px;
      margin: auto auto;
    }
    .bg-content {
      width: 1000px;
      margin: auto auto;
      background-color: white;
      border: #ccc 0px solid;
      -moz-box-shadow: 0 0 20px #ccc;
      -webkit-box-shadow: 0 0 20px #ccc;
      box-shadow: 0 0 10px #ccc;
    }
    .bindcard-show {
      padding-top: 115px;
      & > div {
        clear: both;
      }
    }
    .style-float {
      float: left;
    }
    .bindcard_success,
    .bindcard_failure {
      text-align: right;
      width: 360px;
    }
    .bindcard_success > span {
      display: inline-block;
      height: 50px;
      width: 50px;
      background-image: url(./assets/bindcard_success.png);
    }
    .bindcard_failure > span {
      display: inline-block;
      height: 50px;
      width: 50px;
      background-image: url(./assets/bindcard_failure.png);
    }
    .bindcard-show-content > span {
      display: block;
      font-size: 14px;
      margin-left: 3px;
    }
    .bindcard-btn {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 100px;
    }
    .btn-default {
      line-height: 7px;
      font-size: 14px;
      color: #777777;
      border: 1px solid #ccc;
      background-color: transparent;
    }
    .bindcard-footer-hd {
      height: 60px;
      border-bottom: 1px dotted #ccc;
      text-align: left;
      padding-top: 5px;
      margin: 0 37px 20px 36px;
      background: url(./assets/spread-icon2.png) 0px 13px no-repeat;
      .foot-hd-item1 {
        line-height: 50px;
        padding-left: 50px;
        font-size: 25px;
      }
    }
    .bindcard-footer-hd > span {
      display: inline-block;
    }
    .foot-hd-item1 {
      color: #1A99EA;
    }
    .foot-hd-item2 {
      background: url(./assets/programa-icon1.png) 14px 3px no-repeat;
      text-indent: -9999px;
      width: 300px;
      height: 50px;
    }
    .bindcard-footer-content {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  .spread_module {
    .show_left {
      background-image: url(./assets/spread_module_icon3.png);
      width: 122px;
      height: 40px;
      left: 2px;
      line-height: 40px;
      padding-left: 5px;
      font-size: 15px;
      & span {
        font-size: 20px;
      }
    }
  }
}
