@import url(./module.form.less);
.page-bindcard {
  //width: 920px;
  //height: 636px;
  .bindcard-content {
    //width: 920px;
    //padding: 0 32px;
    margin: auto auto;
    //background-color: white;
    //border: #ccc 0px solid;
    //box-shadow: 0 0 10px #ccc;
    //padding-bottom: 20px;
    .bindcard-hd {
      text-align: center;
      height: 72px;
      line-height: 72px;
      font-size: 18px;
      color: #373737;
    }
    .bindcard-operate {
      width: 100%;
      padding-top: 20px;
      font-size: 14px;
      overflow: hidden;
      .bindcard-operate-btn {
        & button {
          width: 150px;
        }
      }
    }
    .input-select select {
      width: 200px;
      height: 28px;
    }
    .form-input-special {
      width: 175px;
    }
  }
}

