.page-bindcard {
  width: 100%;
  height: 1177px;
  background-image: url(./assets/bindcard_background1.png);
  .bindcard-content {
    width: 1000px;
    padding: 0 32px;
    margin: auto auto;
    background-color: white;
    border: #ccc 0px solid;
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 10px #ccc;
    padding-bottom: 20px;
    .bindcard-hd {
      text-align: center;
      height: 72px;
      line-height: 72px;
      font-size: 18px;
      color: #373737;
      border-bottom: 1px solid #ccc;
    }
    [class*="col-"] {
      padding: 3px;
    }
    .bindcard-operate {
      width: 100%;
      padding-top: 20px;
      font-size: 14px;
    }
    .form-item-sign {
      color: red;
    }
    .form-label {
      text-align: right;
    }
    .form-input {
      text-align: left;
    }
    .form-item {
      height: 28px;
      line-height: 28px;
      color: #6D6D6D;
    }
    .form-item input {
      width: 200px;
      height: 28px;
      display: inline-block;
      margin-right: 20px;
    }
    .form-group {
      clear: both;
      padding-bottom: 25px;
    }
    .btn-primary {
      width: 150px;
      background-color: #FF7B00;
      color: white;
      border: 1px solid #FF7B00;
    }
    .btn-default {
      line-height: 7px;
      font-size: 14px;
      color: #FF7B00;
      border: 1px solid #ccc;
      background-color: transparent;
    }
    .input-select select {
      width: 200px;
      height: 28px;
    }
  }
  .form select,
  .form textarea,
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="datetime"],
  .form input[type="datetime-local"],
  .form input[type="date"],
  .form input[type="month"],
  .form input[type="time"],
  .form input[type="week"],
  .form input[type="number"],
  .form input[type="email"],
  .form input[type="url"],
  .form input[type="search"],
  .form input[type="tel"],
  .form input[type="color"],
  .form-field {
    font-size: 12px;
    line-height: 15px;
  }
  .radio,
  .checkbox {
    margin-top: 0px;
  }
}
