.page-nonactivated {
  width: 100%;
  .nonact-head {
    width: 100%;
    [class*="col-"] {
      padding: 0px;
    }
    .nonact-head-item1 {
      width: 100%;
      background-color: white;
    }
    .head-item1-content{
      width:1190px;
      margin:auto auto;
      height: 90px;

    }
    .head-item1-content .container{
      padding:0px;
    }
    .item1-title{
      height:90px;
      line-height:90px;
    }
    .item-title2{
      height:90px;
      padding-top: 15px;
    }
    .item1-icon{
      text-align: right;
    }
    .item1-info{
      text-align: left;
    }
    .item1-icon > span {
      display:inline-block;
      height:50px;
      width:50px;
      background-image: url(./assets/icon.png);
    }

    .item1-info > span{
      display:block;
    }

    .item1-info-child2{
      font-size: 4px;
    }
    .item1-info-child1{
      font-size: 16px;
    }

    .nonact-head-item2{
      width: 100%;
      background-color: #F0F0F0;

    }

    .head-item2-content{
      width:1190px;
      margin:auto auto;
      height: 410px;

    }

    .nonact-head-item3{
      width: 100%;
      background-color: #F5F5F5;
    }

    .head-item3-content{
      width:1190px;
      margin:auto auto;
      height: 215px;

    }

  }
}
