.layout-popup {
	@popup-width: 900px;
	width: @popup-width;
	//height: 700px;
	.popup-hd{
		border: none;
		width: @popup-width;
		height: 30px; 
	}
	.popup-support-bd{
		width: @popup-width;
		height: 500px;
		border: none;
		.bank_panel{
			margin: 10px 15px;
			border: none;
		}
		.bank_name{
			width: 190px;
			height: 48px;
			border: 1px solid #dddddd;
			color: #333333;
			float: left;
			margin: 10px;
			font-size: 16px;
			text-align: center;
			padding-top: 10px;
		}
	}
}