@import url(../_stylesheets/widget.form.less);
.page-bindcard {
  @popup-bd-height: 656px;
  height: @popup-bd-height;
  //width: 920px;
  //height: 636px;
  .bindcard-content {
    height: @popup-bd-height;
    //width: 920px;
    //padding: 0 32px;
    margin: auto auto;
    //background-color: white;
    //border: #ccc 0px solid;
    //box-shadow: 0 0 10px #ccc;
    //padding-bottom: 20px;
    .bindcard-hd {
      text-align: center;
      height: 70px;
      line-height: 70px;
      font-size: 22px;
      color: #373737;
    }
    .bindcard-operate {
      height: (@popup-bd-height)-70;
      width: 100%;
      font-size: 14px;
      overflow: hidden;
      .bindcard-operate-btn {
        & button {
          width: 150px;
        }
      }
    }
    .input-select select {
      width: 200px;
      height: 28px;
    }
    .form-input-special {
      width: 105px;
    }
    .input-private {
      width: 104px;
      margin-right: 5px;
    }
    .select-val {
      width: 73px !important;
    }

    .dropdown-content{
      width:104px !important;
    }
  }
}
