 @import url("./pay_item.less");
 @import url(../../../shared/widgets/_stylesheets/global.less);
 //
 @pay-hd: 107px;
 .page-pay {
   input {
     border: 1px solid #bdbdbd !important;
   }
   .fl-clear {
     clear: both;
   }
   .fl-left {
     float: left;
   }
   .fl-right {
     float: right;
   }
   width: 100%;
   min-width: 1190px;
   .layout-container {
     width: 1020px;
     margin: auto auto;
     padding-bottom: 20px;
     .layout-hd {
       width: 100%;
       height: @pay-hd;
       font-size: 25px;
       text-align: center;
       line-height: @pay-hd;
     }
     .layout-content {
       background: url(./assets/pay-bg.png) 0 0 no-repeat;
       .bg-hd {
         width: 1000px;
         height: 4px;
         margin: auto auto;
       }
       .bg-simulate {
         width: 1000px;
         margin: auto auto;
         background-color: white;
         border: #ccc 0px solid;
         -moz-box-shadow: 0 0 20px #ccc;
         -webkit-box-shadow: 0 0 20px #ccc;
         box-shadow: 0 0 10px #ccc;
         padding-bottom: 60px;
       }
       .pay-content {
         padding-top: 85px;
         .money {
           font-size: 18px;
           color: #FF6633;
         }
         .pay-title {
           width: 855px;
           height: 95px;
           margin: auto auto;
           background-color: #F8F8F8;
           padding: 20px 0 10px 20px;
           font-size: 14px;
           .pay-title-desc {
             float: left;
             width: 570px;
             & > span {
               display: block;
             }
           }
           .pay-title-money {
             float: right;
             text-align: right;
             padding-right: 20px;
             line-height: 60px;
           }
         }
         .pay-area {
           //padding-left: 230px;
           width: 855px;
           margin: auto auto;
           clear: both;
           padding-top: 20px;
           .pay-area-title {
             padding-left: 33px;
             margin: 35px 0 15px 0;
           }
           .pay-area-content {
             //height: 100px;
             border: 5px solid #EFEAE5;
             height: 390px;
             padding-top: 35px;
             .operate-caption {
               height: 26px;
               width: 100%;
               padding-left: 15px;
               background: url(./assets/caption-bg.png) 0 0 repeat;
               .caption-title {
                 &>div {
                   float: left;
                 }
                 .title1 {
                   height: 100%;
                   background-color: white;
                   height: 100%;
                   font-size: 18px;
                   line-height: 26px;
                   padding: 0 10px 0 10px;
                   margin-bottom: 20px;
                 }
                 .title2 {
                   font-size: 12px;
                   line-height: 26px;
                   margin-left: 20px;
                   color: #0185C6;
                   cursor: pointer;
                 }
               }
             }
             .operate-pay-info {
               padding: 25px 20px 40px 20px;
               &>span {
                 display: block;
                 float: left;
                 padding-right: 20px;
                 font-size: 14px;
                 color: #5E5E5E;
               }
               .info-private {
                 line-height: 20px;
                 float: right;
                 padding-right: 0;
               }
             }
             .fenqi-pay-info {
               padding: 25px;
               &>span {
                 padding-right: 10px;
                 font-size: 14px;
                 color: #5E5E5E;
               }
             }
             .operate-fenqi-info {
               padding-left: 25px;
               .active {
                 background: url(./assets/fenqi-bg2.png) 0 0 no-repeat !important;
               }
               .fenqi-item {
                 float: left;
                 height: 64px;
                 width: 151px;
                 padding-left: 10px;
                 margin-right: 40px;
                 cursor: pointer;
                 font-size: 14px;
                 background: url(./assets/fenqi-bg1.png) 0 0 no-repeat;
                 &:hover,
                 &:active {
                   background: url(./assets/fenqi-bg2.png) 0 0 no-repeat;
                 }
                 &>span {
                   display: block;
                 }
                 .fenqi-no-info {
                   height: 30px;
                   line-height: 30px;
                   &>span {
                     float: left;
                   }
                   .fenqi-popover {
                     display: block;
                     padding: 0 2px 0 2px;
                     font-size: 10px;
                     float: right;
                     line-height: 19px;
                     margin: 5px 8px 0 0;
                     background-color: #FF7B00;
                     color: white;
                   }
                 }
                 .fenqi-money-info {
                   height: 35px;
                   line-height: 35px;
                   font-size: 12px;
                   &>span {
                     font-size: 16px;
                   }
                 }
               }
             }
             .fenqi-pay-total {
               height: 25px;
               padding: 0 20px 0 15px;
               &>span {
                 display: block;
                 float: left;
               }
               & .badge {
                 padding: 0.05em 0.305em;
                 margin-top: 2px;
                 margin-left: 10px;
                 cursor: pointer;
                 outline: none;
                 border-color: white;
                 &:hover,
                 &:active {
                   background-color: #FF6633;
                 }
               }
               .dropdown-private {
                 font-size: 12px;
                 width: 300px;
                 background-color: #F8F8F8;
               }
               .dropdown-content:before,
               .dropdown-content:after {
                 left: 271px !important;
               }
             }
           }
           .pay-area-operate {
             padding-top: 20px;
             padding-left: 10px;
             & button {
               width: 130px;
               border-radius: 2px;
               height: 35px;
               line-height: 0px;
             }
             .pay-password {
               .pay-password-text {
                 display: inline-block;
                 text-align: right;
                 padding-right: 15px;
                 font-size: 14px;
                 color: #6a6a6a;
                 margin-bottom: 15px;
               }
               .pay-password-input {
                 width: 200px;
                 height: 30px;
                 padding-left: 8px;
                 font-size: 14px;
                 &:focus,
                 &:active {
                   outline: 0;
                   border-color: #3bb4f2 !important;
                   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 5px rgba(59, 180, 242, .3);
                 }
               }
               .forget-pay-pass {
                 font-size: 12px;
                 margin-left: 10px;
                 color: #0185C6;
                 cursor: pointer;
               }
             }
           }
           .checkbox-image {
             height: 20px;
             width: auto;
             clar: both;
             margin-right: 0;
           }
           .fenqi-agreement {
             font-size: 12px;
             color: #0185C6;
             cursor: pointer;
             line-height: 22px;
             display: block;
             width: 100px;
           }
           .form-group {
             height: 20px;
           }
         }
       }
     }
   }
 }
